* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  padding: 30px 50px;
}
.background {
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.topBG {
  height: 80px;
  width: 100%;
  background-color: #f000f0;
}
.bottomBG {
  height: 300px;
  width: 100%;
  background-color: aqua;
}
