@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap");
#root {
  position: relative;
}
body {
  background-color: #8e867b;
  /* background-color: #FFFDD9; */
}
* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  padding: 100px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.background {
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.topBG {
  height: 250px;
  width: 100%;
  /* background-color: #f8e7d6; */
  background-color: #fffdd9;
}
